*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	
}
header{
	background-image: url("cont.jpg");
	
	height: 100vh;
	background-size: cover;
	background-position: center;
}
.logo0 img{
	width: 120px;
	position: absolute;
	left: 50px;
	top: 500px;

}
.app-text h1{
	position: absolute;
	left: 250px;
	top: 500px;
	font-weight:1000;
	color: aquamarine;
}
.app-text h2{
	position: absolute;
	left:230px;
	top: 550px;
	font-weight: 900;
	color: aquamarine;
}